# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.test
*.prof

/out
/_gopath
/release

/minishift

.DS_Store

/.idea
/.vscode
*.iml
/.vscode

# Docs
.ruby-gemset
.ruby-version
docs/build
docs/source/_tmp/*.md
docs/source/command-ref/*.adoc
docs/source/**/variables.adoc
docs/source/using/images/minishift-architecture*
docs/.bundle/
docs/.sass-cache/
docs/.java
